html {
  background: url(https://w0.peakpx.com/wallpaper/361/968/HD-wallpaper-spooky-castle-windows-lightning-bare-trees-dark-grey-black-trees-castle.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  /* overflow: scroll; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


h1 {
  color: white;
  opacity: 80%;
  text-align: center;
  font-size: 300%;
  font-family: 'Creepster';
  letter-spacing: 3px;
  margin: 2%;
}

#monsters {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50%;
}

figure {
  height: 200px;
  width: 200px;
  position: relative;
}

img {
  width: 200%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-35%, -10%);
  z-index: 2;
}

figcaption {
  color: white;
  background-color: rgb(17, 21, 86);
  opacity: 65%;
  width: 125px;
  padding: 10px;
  text-align: center;
  font-size: large;
  font-family: 'Aladin';
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-35%, -50%);
  z-index: 1;
}

#scaleMonst {
  z-index: 3;
}

#thunder {
  position: absolute;
  top: 100%;
  transform: translate(0%, 600%);
}

#aliveness {
  position: absolute;
  top: 100%;
  transform: translate(0%, 700%);
}





/* #rotateMonst {
  margin-left: 20%;
  /* margin-top: 6%; */
/* } */


/* #skewMonst {
  margin-left: 60%;
  /* margin-top: 30% */
/* } */

/* #translateMonst {
  margin-left: 80%;
} */